div div button {
  height: 50px;
  width: 50px;
  margin: 2.5px;
  border-radius: 15px;
}

.number {
  background-color: #A9A9A9;
  border: none;
}

.operand {
  background-color: #ffa500;
  border: none;
}

.options {
  border: none;
}

.long-button {
  width: 109.5px;
}

input {
  text-align: right;
  font-size: 52px;
  width: 224.5px;
  height: 75px;
  margin: 2.5px;
  border-radius: 5px;
  border-color: #A9A9A9;
}